
<div id="edit-container">
    <h1>Editing Article</h1>

    <%= render 'form', article: @article %>

    <%= link_to 'Show', @article, style: 'text-decoration: none;' %> |
    <%= link_to 'Back', articles_path, style: 'text-decoration: none;'%>
</div>