

* {
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 200px;
    max-height: 200px;
    padding-left: 5px;
}

.categ {
    text-decoration: none;
}

#title-underline {
    border-bottom: solid #c1c3c4 1px;
}

#edit-container {
    margin-top: 5%;
}

.card {
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    
    text-align: center;
}

body, html {
    height: 100%;
  }

  @media (max-width: 767px) {
    .footer{
        display:none;
    }
}

.special {
    margin: auto;
}

.login-forms {
    border: solid #ced2d4 1px;
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
    width: 100%;
}

.login-labels {
    margin-bottom: 5px;
    text-align: center;
}

.btn {
    padding: 10px;
    background-color: #2C3E50;
    color: white;
}

